* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    font-size: 62%;
    --background-color: rgb(24, 24, 24);   
    --background-color: rgb(24, 24, 24);   
    --color-text-base:  #FFFFFF;

    --main-button-color: #E06AB1 ;
    --secondary-button-color: #8CEEB8 ; 
    }

body {
    width: 100vw;
    background-color: var(--background-color);
}

.sidenav {
    height: 100%; 
    width: 190px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(56, 56, 56); 
    overflow-x: hidden; 
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

  .sidenav nav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 190px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }
body, input, button, textarea{
    color: var(--color-text-base);
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--color-text-base);
}


.button {
    border-radius: 8px;
    padding:   1rem 1rem;
    font-size: 1.6rem;
    color: var(--color-text-base);
    font-weight: bold;
    transition: 200ms;

    display: inline-block;

}
.edit {
    background: rgb(104, 104, 104);

}
.delete {
    background:red;

}

.add {
    background:green;

}




@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }